* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  color: #fff;

  /* Gradiente que você enviou */
  background: linear-gradient(135deg, #141022, #19072b, #010303);
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 450px;

  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

input, select {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;

  /* Botão com seu gradiente */
  background: linear-gradient(135deg, #02010a, #5f09ff);

  color: #fff;
  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

h2 {
  margin-top: 20px;
}